
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
trim_trailing_whitespace = false
insert_final_newline = true

[**/{package.json,tsconfig.json,*.yml}]
indent_size = 2
indent_style = space

[Makefile]
indent_style = tab
